@media (max-width: 1124px) {
    .navigation{
        display: none;
    }
    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-ul{
        display: none;
    }
}

@media (max-width: 576px) {
    .banner-wraper{
        height: 761px;
    }

    .banner-color{
        height: 761px;
    }
    .banner-initials{
        margin-top: 110px;
    }
    .banner-h1{
        font-size: 45px;
    }
    .banner-p{
        margin: 20px 0px;

    }

}