@media (max-width: 1124px) {
    .navigation{
        display: none;
    }
    .burger{
        display: block;
    }
    .login-ul{
        display: none;
    }
}

@media (max-width: 576px) {
    .banner-initials{
        margin-top: 110px;
    }
    .banner-h1{
        font-size: 45px;
    }
    .banner-p{
        margin: 20px 0px;

    }

}