.banner-wraper{
	background: url(../images/camp.jpg) center center/contain no-repeat;
	background-size: cover;
	width: 100%;
	height: 1080px;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 0% 0% 13% 13%;
}

.banner-color{
	width: 100%;
	height: 1080px;
	background-color: #3B3735;
	opacity: 0.5;
	position: absolute;
	z-index: 9;
    border-radius: 0% 0% 13% 13%;
}

.header-wrapper{
	width: 100%;
	display: flex;
	justify-content: space-around;
    align-items: center;
	position: absolute;
    margin-top: 60px;
	z-index: 30;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul{
    margin: 0 382px 0 49px;
    display: flex;
}
.nav-li {
	
	padding-right: 30px;

}
.nav-li a:hover{
    text-decoration: #E76F51;
}
.nav-li a {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 18px; 
	color: #D2D2D2;
    transition: all linear 1s;
    text-decoration: underline solid transparent;
    text-decoration-thickness: 3px;
}

.burger{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: none;
}

.burger:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.burger:hover .fa-bars {
    color: #E76F51;
}
.fa-bars{
	font-size: 30px;
	color: #D9F0FF;
    transition: all linear 0.5s;
}

.login-container {
    display: flex;
}
.login-container a{
    margin-right: 15px;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 13px 38px;
    transition: all ease-in;
    border: 2px solid transparent;
    
}


.login-container a:hover{
    border-color: white;
}

.banner-initials{
    z-index: 11;
    width: 100%;
    max-width: 580px;
    margin-top: 191px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-h1{
    width: 100%;
    max-width: 580px;
	height: px;
	font-size: 81px;
	color: #FFFFFF;
	text-align: center;
	z-index: 11;
}

.banner-p{
    width: 100%;
    max-width: 526px;
	height: 57px;
    text-align: center;
    z-index: 11;
    color: #FFFFFF;
    font-size: 18px;
    margin: 30px 0px;

}

.button{
    width: 100%;
    max-width: 205px;
    height: 50px;
    background-color: #E76F51;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 18px;
    z-index: 9;
    border: none;
    cursor: pointer;
}
.main-offers{
    display: flex;
    justify-content: center;
}
.offers-div{
    width: 100%;
    max-width: 1518px;
    height: 312px;
    background-color: grey;
    transform: translateY(-50%);
    top: 50%;
    z-index: 10;
}

