.banner-wraper{
	background: url(../images/camp.jpg) center center/contain no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 0% 0% 13% 13%;
}

.banner-color{
	width: 100%;
	height: 100vh;
	background-color: #3B3735;
	opacity: 0.5;
	position: absolute;
	z-index: 9;
    border-radius: 0% 0% 13% 13%;
}

.header-wrapper{
	width: 100%;
	display: flex;
	justify-content: space-around;
    align-items: center;
	position: absolute;
    margin-top: 60px;
	z-index: 30;
}

.nav-ul{
    margin-right: 400px;
    display: flex;
}
.nav-li {
	
	padding-right: 30px;

}
.nav-a:hover{
    text-decoration: underline solid #E76F51;
    text-decoration-thickness: 3px;
}
.nav-a{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 18px; 
	color: #D2D2D2;
    transition: all ease-out 2s;
}

.burger{
    /* position: absolute;
    top: 15px;
    right: 30px;
    font-size: 25px;
    color: white; */
    display: none;
}

.fa-bars{
	font-size: 30px;
	color: #D9F0FF;
}

.login-a{
    margin-right: 15px;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 13px 38px;
    transition: all ease-in;
    
}
.login-ul{
    display: flex;
}
.login-a:hover{
    border: 2px solid white;
}

.banner-initials{
    z-index: 11;
    width: 100%;
    max-width: 580px;
    margin-top: 191px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-h1{
    width: 100%;
    max-width: 580px;
	height: px;
	font-size: 81px;
	color: #FFFFFF;
	text-align: center;
	z-index: 11;
}

.banner-p{
    width: 100%;
    max-width: 526px;
	height: 57px;
    text-align: center;
    z-index: 11;
    color: #FFFFFF;
    font-size: 18px;
    margin: 30px 0px;

}

.button{
    width: 100%;
    max-width: 205px;
    height: 50px;
    background-color: #E76F51;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 18px;
    z-index: 9;
    border: none;
    cursor: pointer;
}